.main-chat
  .main-header
    .detail
      .group-name
        = @group.name
      .group-members
        = "Member: #{@group.show_members}"
    = link_to edit_group_path(@group.id), class: 'edit-btn' do
      Edit 
  .message-list
    = render @messages
  .message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, placeholder: 'type a message', class: 'message-content'
        = f.label :image, class: 'image' do
          = icon('far', 'image', class: 'image-icon fa-lg')
          = f.file_field :image, class: 'image-file'
      = f.submit 'Send', class: 'send-btn'