.side-bar
  .side-bar__side-header
    .side-bar__side-header__box
      .side-bar__side-header__box__user-name
        = current_user.name
      %ul.side-bar__side-header__box__menu
        %li
          = link_to new_group_path do
            = icon('far', 'edit', class: "side-bar__side-header__box__menu__icon")
        %li
          = link_to edit_user_path(current_user.id) do
            = icon('fas', 'cog', class: "side-bar__side-header__box__menu__icon")
  .side-bar__groups-list
    - current_user.groups.each do |group| 
      .side-bar__groups-list__group
        = link_to group_messages_path(group.id) do
          .side-bar__groups-list__group__group-name
            = group.name
          .side-bar__groups-list__group__recent-message
            = group.show_last_message

